* {
  box-sizing: border-box;
}

body {
  /* ran background.png through ImageOptim and decrease the file from 526KB to 152KB  */
  background-image: url("./assets/background.png");
}

#root {
  margin: 0 auto;
  padding: 2rem;
  --gray: #b8b8b8;
}

.mock-login-form__button {
  background-color: white;
  color: var(--gray);
  border: 1px solid var(--gray);
  padding: 8px 16px;
}

.chat {
  max-width: 640px;
  padding: 0 24px;
}

.chat-messages {
  display: block;
}

.author,
.date {
  color: var(--gray);
}

.chat-messages__old,
.chat-messages__user {
  display: inline-block;
  padding: 16px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  background-color: white;
}

.chat-messages__user {
  background-color: rgb(255, 255, 239);
  width: 65.625%;

  .date {
    text-align: right;
  }
}

.chat-messages p {
  margin: 0;
}

.chat__input {
  width: calc(100% - 98px);
  margin-right: 8px;
  font-size: 1.2em;
  padding: 8px;
}

.chat__button {
  background-color: orange;
  color: white;
  padding: 16px 20px;
  font-size: 1.2em;
}

.mock-login-form {
  display: flex;
  flex-direction: column;
}

.mock-login-form__input {
  font-size: 1.2em;
}
.mock-login-form__button {
  margin-top: 2em;
  align-self: center;
}
