#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.mock-login-form {
  display: flex;
  flex-direction: column;
}

.mock-login-form__input {
  font-size: 1.2em;
}
.mock-login-form__button {
  margin-top: 2em;
  align-self: center;
}
